# Loops!

We've seen all or almost all of this before, but here it is, all in one place!

---

## For Loops

If we want to print the numbers from 0–9, we can use a for loop that's looking at a range:

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Or, even simpler, we can loop through the items in a list:

In [3]:
names = ["RM", "Jin", "SUGA", "j-hope", "Jimin", "V", "Jung Kook"]
for name in names:
    print(name)

RM
Jin
SUGA
j-hope
Jimin
V
Jung Kook

If we want to get the lengths of those strings, we can rely our trusty loop & append pattern:

In [4]:
lengths = []
for name in names:
    lengths.append(len(name))
print(lengths)

[2, 3, 4, 6, 5, 1, 9]

But we do that so often that we could also use a list comprehension:

In [5]:
lengths = [len(name) for name in names]
print(lengths)

[2, 3, 4, 6, 5, 1, 9]

## While Loops

Sometimes we need to do something a bit more freeform. While loops do everything and more that a for loop can do, but we need to make a bit more of our own infrastructure:

In [7]:
counter = 0
while counter < 5:
    print(counter)
    counter += 1

0
1
2
3
4

While loops are a bit risky because they're not guaranteed to stop. For example, this is flipping a coin, and will stop as soon as it gets a head. However, if it never gets a head, it'll run forever.

In cases like that, we add a guard condition to stop it in case our main condition never happens.

In [8]:
import random

guard = 0
coin = "tails"
while coin == "tails" and guard < 10:
    coin = random.sample(["heads", "tails"], 1)[0]
    print(coin, guard)
    guard += 1

tails 0
tails 1
tails 2
heads 3

We can nest loops inside each other, and mix up the types too.

If a for loop isn't ever going to use its variable, then it's convention to call it `_`

In [16]:
for _ in range(5):
    print()
    guard = 0
    coin = "tails"
    while coin == "tails" and guard < 10:
        coin = random.sample(["heads", "tails"], 1)[0]
        print(coin, guard)
        guard += 1

tails 0
heads 1

tails 0
heads 1

heads 0

tails 0
tails 1
heads 2

tails 0
tails 1
tails 2
heads 3

## Unpacking

A little tangent here. Python lets you do _unpacking assignment_ from tupels.

We've got three things on the right, and 3 variable names on the left. Python unpacks the tupel into the corresponding variable names.

In [17]:
# Unpacking:
a, b, c = ("🤯", "🍰", "🍊")
print(a)
print(b)
print(c)

🤯
🍰
🍊

# Enumerate

Enumerate makes a tupel of a number and the value. This is useful when you need to know what the value is, but also what the number is. It's a lot neater than doing:

```python
for i in range(len(names)):
    print(i, names[i])
```

In [18]:
for name in enumerate(names):
    print(name)

(0, 'RM')
(1, 'Jin')
(2, 'SUGA')
(3, 'j-hope')
(4, 'Jimin')
(5, 'V')
(6, 'Jung Kook')

But what's cool here is that we can unpack in the loop statement:

In [19]:
for i, name in enumerate(names):
    print(name, len(name), i * 5)

RM 2 0
Jin 3 5
SUGA 4 10
j-hope 6 15
Jimin 5 20
V 1 25
Jung Kook 9 30

## the way of the pandas loops 🐼🔁

Lets work with this data:

In [20]:
import pandas as pd

bts=[
    {"bts_name": "RM",       "job": "Rapper",      "dob": "1994-09-12", "real_name": "Kim Nam-joon",    "k_name": "김남준"},
    {"bts_name": "Jin",      "job": "Vocals",      "dob": "1992-12-04", "real_name": "Kim Seok-jin",    "k_name": "김석진"},
    {"bts_name": "SUGA",     "job": "Rapper",      "dob": "1993-03-09", "real_name": "Min Yoon-gi",     "k_name": "민윤기"},
    {"bts_name": "j-hope",   "job": "Rapper",      "dob": "1994-02-18", "real_name": "Jung Ho-seok",    "k_name": "정호석"},
    {"bts_name": "Jimin",    "job": "Vocals",      "dob": "1995-10-13", "real_name": "Park Ji-min",     "k_name": "김태형"},
    {"bts_name": "V" ,       "job": "Vocals",      "dob": "1995-12-30", "real_name": "Kim Tae-hyung",   "k_name": "김태형"},
    {"bts_name": "JungKook", "job": "Main Vocals", "dob": "1997-09-01", "real_name": "Jeon Jung-kook",  "k_name": "전정국"},
]   
bts_df = pd.DataFrame(bts)
bts_df

   bts_name          job         dob       real_name k_name
0        RM       Rapper  1994-09-12    Kim Nam-joon    김남준
1       Jin       Vocals  1992-12-04    Kim Seok-jin    김석진
2      SUGA       Rapper  1993-03-09     Min Yoon-gi    민윤기
3    j-hope       Rapper  1994-02-18    Jung Ho-seok    정호석
4     Jimin       Vocals  1995-10-13     Park Ji-min    김태형
5         V       Vocals  1995-12-30   Kim Tae-hyung    김태형
6  JungKook  Main Vocals  1997-09-01  Jeon Jung-kook    전정국

If we treat the dataframe as a list, which is reasonable to expect that you'd be able to, it doesn't behave like you'd expect:

In [21]:
for row in bts_df:
    print(row)

bts_name
job
dob
real_name
k_name

It gives you the column names, rather than the rows.

To get the rows, we need to use `iterrows`:

In [22]:
from dateutil import parser

for i, row in bts_df.iterrows():
    print(
        f"{i}: {row.real_name} (Korean: {row.k_name}; "
        f"born {parser.parse(row.dob):%d %B, %Y}), better known mononymously "
        f"as {row.bts_name}..."
    )

0: Kim Nam-joon (Korean: 김남준; born 12 September, 1994), better known mononymously as RM...
1: Kim Seok-jin (Korean: 김석진; born 04 December, 1992), better known mononymously as Jin...
2: Min Yoon-gi (Korean: 민윤기; born 09 March, 1993), better known mononymously as SUGA...
3: Jung Ho-seok (Korean: 정호석; born 18 February, 1994), better known mononymously as j-hope...
4: Park Ji-min (Korean: 김태형; born 13 October, 1995), better known mononymously as Jimin...
5: Kim Tae-hyung (Korean: 김태형; born 30 December, 1995), better known mononymously as V...
6: Jeon Jung-kook (Korean: 전정국; born 01 September, 1997), better known mononymously as JungKook...

So we can use that to generate the first line of their respective Wikipedia articles.

We could also do the same thing with an `apply`

In [25]:
def blurb(row):
    return (
        f"{row.real_name} (Korean: {row.k_name}; "
        f"born {parser.parse(row.dob):%d %B, %Y}), better known mononymously "
        f"as {row.bts_name}..."
    )

bts_df.apply(blurb, axis=1)

0    Kim Nam-joon (Korean: 김남준; born 12 September, ...
1    Kim Seok-jin (Korean: 김석진; born 04 December, 1...
2    Min Yoon-gi (Korean: 민윤기; born 09 March, 1993)...
3    Jung Ho-seok (Korean: 정호석; born 18 February, 1...
4    Park Ji-min (Korean: 김태형; born 13 October, 199...
5    Kim Tae-hyung (Korean: 김태형; born 30 December, ...
6    Jeon Jung-kook (Korean: 전정국; born 01 September...
dtype: object

In [34]:
def td_format(td_object):
    '''Format timedelta to a nice string.

    from this SO answer: https://stackoverflow.com/a/13756038/1835727
    '''
    seconds = int(td_object.total_seconds())
    periods = [
        ('year',        60*60*24*365),
        ('month',       60*60*24*30),
        ('day',         60*60*24),
        ('hour',        60*60),
        ('minute',      60),
        ('second',      1)
    ]

    strings=[]
    for period_name, period_seconds in periods:
        if seconds > period_seconds:
            period_value , seconds = divmod(seconds, period_seconds)
            has_s = 's' if period_value > 1 else ''
            strings.append("%s %s%s" % (period_value, period_name, has_s))

    return ", ".join(strings)

In [38]:
import datetime
def get_age(dob):
    dob_time = parser.parse(dob)
    now = datetime.datetime.now()
    delta = now - dob_time
    return td_format(delta)

bts_df["age"] = bts_df.dob.apply(get_age)
bts_df

,bts_name,job,dob,real_name,k_name,age
0,RM,Rapper,1994-09-12,Kim Nam-joon,김남준,"26 years, 10 months, 13 days, 12 hours, 29 min..."
1,Jin,Vocals,1992-12-04,Kim Seok-jin,김석진,"28 years, 7 months, 20 days, 12 hours, 29 minu..."
2,SUGA,Rapper,1993-03-09,Min Yoon-gi,민윤기,"28 years, 4 months, 15 days, 12 hours, 29 minu..."
3,j-hope,Rapper,1994-02-18,Jung Ho-seok,정호석,"27 years, 5 months, 4 days, 12 hours, 29 minut..."
4,Jimin,Vocals,1995-10-13,Park Ji-min,김태형,"25 years, 9 months, 12 days, 12 hours, 29 minu..."
5,V,Vocals,1995-12-30,Kim Tae-hyung,김태형,"25 years, 6 months, 24 days, 12 hours, 29 minu..."
6,JungKook,Main Vocals,1997-09-01,Jeon Jung-kook,전정국,"23 years, 10 months, 23 days, 12 hours, 29 min..."

There's no _best loop_ just the loop that's best at the time.